Féléves feladat/XMLSchemaI5XJTC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- Egyszerű típusok kigyűjtése, saját típusok meghatározása, megszorítás -->
	
	<xs:element name="Utca" type="xs:string"/>
	<xs:element name="Varos" type="xs:string"/>
	<xs:element name="Nev" type="xs:string"/>
	<xs:element name="Kor" type="KorTipus"/>
	<xs:element name="Erkezes" type="xs:string"/>
	<xs:element name="Tavozas" type="xs:string"/>
	<xs:element name="Elokeszitesi_ido" type="xs:string"/>
	<xs:element name="Helyigeny" type="xs:string"/>
	<xs:element name="Tipus" type="xs:string"/>
	<xs:element name="Mettol" type="xs:string"/>
	<xs:element name="Meddig" type="xs:string"/>
	<xs:element name="Fizetes" type="xs:string"/>
	<xs:element name="Dij" type="DijTipus"/>
	<xs:element name="Idopontok" type="xs:date"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="Telefonszam" type="xs:int"/>
	
	<xs:simpleType name="KorTipus">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="2" />
            <xs:maxInclusive value="60" />
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="DijTipus">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="30000" />
        </xs:restriction>
    </xs:simpleType>

	<!-- Komplex típusokhoz saját típus meghatározása, sorrendiség, számosság etc -->
	
	<xs:element name="Vendeg" type="VendegTipus" />
	<xs:complexType name="VendegTipus">
		<xs:sequence>
			<xs:element ref="Nev" />
			<xs:element ref="Kor" />
			<xs:element name="cim" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Varos" />
						<xs:element ref="Utca" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Vigazolvany" />
	</xs:complexType>
	
	<xs:element name="Latogatas" type="LatogatasTipus" />
	<xs:complexType name="LatogatasTipus">
		<xs:sequence>
			<xs:element ref="Erkezes" />
			<xs:element ref="Tavozas" />
		</xs:sequence>
		<xs:attribute name="Lid" />
		<xs:attribute name="Vigazolvany_Lid"/>
		<xs:attribute name="Lid_Uid"/>
	</xs:complexType>
	
	<xs:element name="Ugralovar" type="UgralovarTipus" />
	<xs:complexType name="UgralovarTipus">
		<xs:sequence>
			<xs:element ref="Elokeszitesi_ido" />
			<xs:element ref="Helyigeny" />
			<xs:element ref="Tipus" />
		</xs:sequence>
		<xs:attribute name="Uid" />
	</xs:complexType>
	
	<xs:element name="Beosztas" type="BeosztasTipus" />
	<xs:complexType name="BeosztasTipus">
		<xs:sequence>
			<xs:element ref="Mettol" />
			<xs:element ref="Meddig" />
		</xs:sequence>
		<xs:attribute name="Bid" />
		<xs:attribute name="Uid_Bid"/>
		<xs:attribute name="Bid_Aid"/>
	</xs:complexType>
	
	<xs:element name="Alkalmazottak" type="AlkalmazottakTipus" />
	<xs:complexType name="AlkalmazottakTipus">
		<xs:sequence>
			<xs:element ref="Kor" />
			<xs:element ref="Fizetes" />
			<xs:element ref="Nev" />
		</xs:sequence>
		<xs:attribute name="Aid" />
	</xs:complexType>
	
	<xs:element name="Maganvallalkozas" type="MaganvallalkozasTipus" />
	<xs:complexType name="MaganvallalkozasTipus">
		<xs:sequence>
			<xs:element ref="Dij" />
			<xs:element ref="Nev" />
			<xs:element ref="Idopontok" />
		</xs:sequence>
		<xs:attribute name="Mid"/>
		<xs:attribute name="Szolgaltatas"/>
	</xs:complexType>
	
	<xs:element name="Berlo" type="BerloTipus" />
	<xs:complexType name="BerloTipus">
		<xs:sequence>
			<xs:element ref="Email" />
			<xs:element ref="Telefonszam" />
			<xs:element ref="Nev" />
			<xs:element name="cim" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Varos" />
						<xs:element ref="Utca" />
					</xs:sequence>
				</xs:complexType>
			<xs:element>
		</xs:sequence>
		<xs:attribute name="Bigazolvany" />
		<xs:attribute name="Berles"/>
	</xs:complexType>
	
	<!-- Gyökérelemtől az elemek felhasználása -->
	
	<xs:element name="I5XJTC_Beadando" type="I5XJTC_BeadandoTipus" />
	<xs:complexType name="I5XJTC_BeadandoTipus">
		<xs:sequence>
			<xs:element name="Vendeg" type="VendegTipus"/>
			<xs:element name="Latogatas" type="LatogatasTipus"/>
			<xs:element name="Ugralovar" type="UgralovarTipus"/>
			<xs:element name="Beosztas" type="BeosztasTipus"/>
			<xs:element name="Alkalmazottak" type="AlkalmazottakTipus"/>
			<xs:element name="Maganvallalkozas" type="MaganvallalkozasTipus"/>
			<xs:element name="Berlo" type="BerloTipus"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Elsődleges kulcsok -->

	<xs:key name="Vendeg_kulcs">
        <xs:selector xpath="Vendeg"/>
        <xs:field xpath="@Vigazolvany"/>
    </xs:key>
	
	<xs:key name="Latogatas_kulcs">
        <xs:selector xpath="Latogatas"/>
        <xs:field xpath="@Lid"/>
    </xs:key>
	
	<xs:key name="Ugralovar_kulcs">
        <xs:selector xpath="Ugralovar"/>
        <xs:field xpath="@Uid"/>
    </xs:key>
	
	<xs:key name="Beosztas_kulcs">
        <xs:selector xpath="Beosztas"/>
        <xs:field xpath="@Bid"/>
    </xs:key>
	
	<xs:key name="Alkalmazottak_kulcs">
        <xs:selector xpath="Alkalmazottak"/>
        <xs:field xpath="@Aid"/>
    </xs:key>
	
	<xs:key name="Maganvallalkozas_kulcs">
        <xs:selector xpath="Maganvallalkozas"/>
        <xs:field xpath="@Mid"/>
    </xs:key>
	
	<xs:key name="Berlo_kulcs">
        <xs:selector xpath="Berlo"/>
        <xs:field xpath="@Bigazolvany"/>
    </xs:key>


	<!-- Idegen kulcsok -->
	
	<xs:keyref name="Vigazolvany_Lid" refer="Vendeg_kulcs">
        <xs:selector xpath="Latogatas"/>
        <xs:field xpath="@Vigazolvany"/>
    </xs:keyref>
	
	<xs:keyref name="Lid_Uid" refer="Ugralovar_kulcs">
        <xs:selector xpath="Latogatas"/>
        <xs:field xpath="@Uid"/>
    </xs:keyref>
	
	<xs:keyref name="Uid_Bid" refer="Ugralovar_kulcs">
        <xs:selector xpath="Beosztas"/>
        <xs:field xpath="@Uid"/>
    </xs:keyref>
	
	<xs:keyref name="Bid_Aid" refer="Alkalmazottak_kulcs">
        <xs:selector xpath="Beosztas"/>
        <xs:field xpath="@Aid"/>
    </xs:keyref>
	
	<xs:keyref name="Szolgaltatas" refer="Ugralovar_kulcs">
        <xs:selector xpath="Maganvallalkozas"/>
        <xs:field xpath="@Uid"/>
    </xs:keyref>
	
	<xs:keyref name="Berles" refer="Maganvallalkozas_kulcs">
        <xs:selector xpath="Berlo"/>
        <xs:field xpath="@Mid"/>
    </xs:keyref>
	
	<!-- Az 1:1 kapcsolat megvalósítás -->
	
	<xs:unique name="Berlo_Maganvallalkozas_Egy">
		<xs:selector xpath="Berlo"/>
		<xs:field xpath="@Mid"/>
	</xs:unique>
	
</xs:schema>