I5XJTC_0927/I5XJTC_mozi_dtd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE I5XJTC_mozi_dtd
[
	<!ELEMENT mozi (film*)>
	<!ELEMENT film (rendezo+, szinesz+, iro+)>
	<!ATTLIST film id ID #REQUIRED>
	<!ATTLIST film mufaj (horror|akcio|romantika) "horror">
	<!ELEMENT rendezo (#PCDATA)>
	<!ELEMENT szinesz (#PCDATA)>
	<!ELEMENT iro EMPTY>
	<!ATTLIST iro id ID #REQUIRED>
]
>

	
